http {  
  include       mime.types;
  default_type  application/octet-stream;
  
  upstream yapi_server{
    server localhost:8000;
    keepalive 50;
  }

  server {
    listen       80;
    server_name  aliiot.on-bright.com;
    charset utf-8;

    location /yapi {
       rewrite ^/yapi/?(.*) /$1 break;
       proxy_pass http://yapi_server;
       proxy_http_version 1.1;
       proxy_set_header Upgrade $http_upgrade;
       proxy_set_header Connection "upgrade";
    }

    location ~ ^/(api|iconfont|prd|mock)/ {
       proxy_pass http://yapi_server;
    }
  }
}
